body {
    font-family: 'Malgun Gothic', sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls {
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    padding : 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-vacation { background-color: skyblue; color: #333; }
.btn-medical { background-color: #90ee90; color: #333; }
.btn-duty { background-color: #ff6347; color: #333; }
.btn-work { background-color: #64b5f6; color: #333; }
.btn-travel { background-color: #7986cb; color: #333; }

#board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
}

.soldier {
    background: whitesmoke;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid transparent;
}

.status-vacation { background-color: skyblue; }
.status-medical { background-color: #90ee90; }
.status-duty { background-color: #ff6347; }
.status-work { background-color: #64b5f6; }
.status-travel { background-color: #7986cb; }


.selected {
    border-color: #00ffff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    transform: scale(1.05);
}

.rank { font-size: 1.2em; font-weight: bold; color: #333; }
.name { color: #333; margin-top: 5px; }
